@{
    ViewData["Title"] = "About Page";
}

<div class="text-center">
    <h1 class="display-4">History</h1>
    
</div>
<title>Our Roots</title>

      <body>  
 

<!------About Section------->
	<section id="about">
		<div class="container">
			<div class="row">
				<div class="col-md-6">
					<h1>Our Roots</h1>
					<div class="about-content">
						Shopalot was established in 2019.  The owner Preena Bhoola a buyer in the retail industry realised that there are so many environmental challenges in the world - - climate change, plastic pollution, deforestation, loss of coral reefs & biodiversity, water scarcity, just to name a few – and that the clothing industry was a significant contributor to environmental & human damage. 
						The owner founder wanted to start a clothing store, where buying clothes is a conscious decision and sourcing is ethical. Passionate about fashion.  The retail store was established on the following principles:<br>

						Saving natural resources through recycled fibres;<br>
						Reducing our carbon footprint;<br>
						Saving animal lives;Using less water;<br>
						Supporting fairer working conditions; <br>
						Using recycled packaging 
					   
					@* </div>
					<a href="FAQ.html"><button type="button" class="btn btn-primary" style="background-color: #fc41e3;">Read More>>
						
					</button></a>*@

					</div> 
                <form action="Contact.html" method="post" id="checkout-order-form">
                   
                    <p><input type="submit" id="submit-order" value="Read more" class="btn"a asp-area="" asp-controller="Home" asp-action="FAQ" style="background-color: #5441fc;"/></p>
                    </button>
                </form>
                </button>

				</div>
				<div class="col-md-6 skills-bar">
					<p>Delivery Rate</p>
					<div class="progress">
						<div class="progress-bar" style="width:85%; background-color:#5441fc">85%</div>
					</div>

					<p>Ethical Sourcing</p>
					<div class="progress">
						<div class="progress-bar" style="width:75%;  background-color:#5441fc">75%</div>
					</div>

					<p>Recyclable material</p>
					<div class="progress">
						<div class="progress-bar" style="width:90%;  background-color:#5441fc">90%</div>
					</div>

				</div>
			</div>

		</div>
	</section>

			<!------Services Section------->
			<section id="services">

				<div class="container">
					<h1>What we believe</h1>
					<div class="row services">
						<div class="col-md-4 text-center">
							<div class="icon">
								<i class="fa fa-phone"></i>
							</div>
							<h3> 24/7 Support</h3>
							<p>on order related queries</p>
						</div>

						<div class="col-md-4 text-center">
							<div class="icon">
								<i class="fa fa-shopping-cart"></i>
							</div>
							<h3> Return within 30 days</h3>
							<p>of receiving your order</p>
						</div>

						<div class="col-md-4 text-center">
							<div class="icon">
								<i class="fa fa-truck"></i>
							</div>
							<h3>Get free delivery</h3>
							<p>on orders above 99 Dollars</p>
						</div>
					</div>
				</div>

			</section>
			   </body>
