@{
    ViewData["Title"] = "Frequently Asked Questions";
}
<!------Section Frequently Asked Questions ------->
<!------Note needs to be updated as business rules and policies change ------->
<h1>@ViewData["Title"]</h1>

 <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Frequently Asked Questions</h2>
                        <div class="FAQ-content">
                                What is the return policy?<br>
                                Refunds are given no questions asked as long as it is reported within a two week period.  Simply contact us, and we will reverse the transaction, as well as arrange for a courier to pick up the returned goods.  <br>
                                <br>
                                What are the shipping options?<br>
                                Shipping and delivery happens throughout South Africa.  As long as purchase amount is $100 or more, there is free delivery.<br>
                                <br>
                                When will I receive my order?<br>
                                Orders are usually dispatched within 2 -3 days, but in case there is a problem the maximum time it will take is 7 days.<br>
                                <br>
                                What do I do if I never received my order?<br>
                                If you have never received your order, please contact us to verify your address and status of the delivery.<br>
                                <br>
                                What do I do if I received a defective order?<br>
                                Defective orders will be returned as per the returns policy (this must be within two weeks of receipt of the order)<br>
                                <br>
                                How is the product made? Where do the materials come from?<br>
                                All our products are sustainability sourced, our suppliers have been certified to organically source clothing with the most eco-friendly techniques and reduction of wastage or energy.<br>
                                <br>
                                How do I contact your company if my question isn’t answered here?<br>
                                Please submit a question on our contact us page, or you can call us directly.
                                
                                

</div>
<div>

</div>

</div>
<div class="col-md-6 skills-bar">
    <img src="../images/faq.jpg" class="e-block w-100" alt="..."
                    style="width:100%;height:550px;">
</div>
       
</section>
