@{

ViewData["Title"] = "Register";

}
<!------Section allows potential customer to register their details ------->

<div class="text-center">

<h1 class="display-4">Register</h1>

<div class="jumbotron">

<strong>ASP.NET MVC</strong>

</div>

@* Display variables on console for validation *@

<h4 style="color:purple">

<b>FirstName:</b> @ViewBag.firstname <br />

<b>LastName:</b> @ViewBag.lastname <br />

<b>Email:</b> @ViewBag.email <br />

<b>Password:</b> @ViewBag.password <br />

<!------Currently do not have an encryption built for password - is planned for thenext phase to increase security ------->


</h4>

<hr />

<!------The above credentials are inputted into the database ------->



<form action="Register" method="post">

<table>

<tr>

<td>First Name: </td>

<td><input type="text" name="firstname" /></td>

</tr>

<tr>

<td>Last Name: </td>

<td><input type="text" name="lastname" /></td>

</tr>

<tr>

<td>Email: </td>

<td><input type="text" name="email" /></td>

</tr>

<tr>

<td>Password: </td>

<td><input type="text" name="password" /></td>

</tr>

<tr>

<td colspan="2"><input type="submit" value="Submit Form" /></td>

</tr>

</table>

</form>