@{
    ViewData["Title"] = "Delivery Information";
}
<h1>@ViewData["Title"]</h1>


 <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Shipping</h2>
                        <div class="shipping-content">
Have peace of mind that your ordered goods will reach you in time.

<br>
Enjoy standard delivery times which includes delivery within 2-3 days but up to a week depending on availability from our warehouses or partners.
<br> 
<br>
For those goods you simply can't wait to receive we also have the option of next day delivery but note for this option the delivery fee is slightly higher. 
Premium next day delivery is seamless for those last minute products you simply cant wait for.  <br>
Just indicate the option, and your order will be automatically revised. 
<br>
<br>
If you still experience any problems, simply send an email or phone us and we will sort out your next day delivery.  <br>

</div>
<div>

</div>

</div>
<div class="col-md-6 skills-bar">
    <img src="../images/shipping.jpg" class="d-block w-100" alt="..."
                    style="width:100%;height:350px;">
</div>
       
    </section>