@{
    ViewData["Title"] = "Terms and Conditions";
}
<h1>@ViewData["Title"]</h1>


 <section id="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Terms</h2>
                        <div class="terms-content">
This website can be accessed at www.shopalot.co.za, related mobi-sites and software applications (the “Website”) and is owned and operated by Shopalot.<br>
These Website Terms and Conditions (“Terms and Conditions”) govern the ordering, sale and delivery of Goods, and the use of the Website. <br> 
These Terms and Conditions are binding and enforceable against every person that accesses or uses this Website (“you”, “your” or “user”), including registered users. <br>
Prior to delivery or your collection of the Goods, you may cancel an order at any time provided you do so before receiving a dispatch or delivery notice. <br>
After delivery or your collection of the Goods, you may return the Goods only in accordance with the Returns Policy.<br>
Shopalots obligation to deliver a product to you is fulfilled when we deliver the product to the physical address nominated by you for delivery of the order. Shopalot is not responsible for any loss or unauthorised use of a product, after it has delivered the product to the physical address nominated by you.

</div>
<div>

</div>

</div>
<div class="col-md-6 skills-bar">
    <img src="../images/terms.jpg" class="d-block w-100" alt="..."
                    style="width:100%;height:550px;">
</div>
       
    </section>